@{
    ViewBag.Title = "Home Page";
}
<div style="
    z-index: -100;
    position: fixed;
    left: 0px;
    opacity: 0.8;
    top: -28px;">
    <img src="http://www.listofimages.com/wp-content/uploads/2012/05/notebook-laptop-headphones-girl-train-smile-other.jpg" style="z-index: -100;">
</div>

<div class="jumbotron welcome" style="
    color: white;
    text-shadow: 3px 1px 2px rgba(75, 75, 75, 1);
    /* top: 41px; */
    margin-top: 184px;
">
    <h1 style="
    /* color: #fff; */
">
        Welcome!
    </h1>
    <p class="lead" style="
    /* width: 440px; */
    text-align: center;
    width: 708px;
    margin: 0 auto;
    margin-bottom: 20px;
">Sign up now and join others in exploring musical experience that goes beyond your imagination</p>
    <p>
        @Html.ActionLink("Sign up now", "Register", "Account", null, new { @class = "btn btn-lg btn-success" })
    </p>
</div>
