input.message-input {
        outline: none;
        box-shadow: none !important;
        border: 1px solid #ddd !important;
    }

    ul#chat {
        overflow-y: scroll;
        height: 250px;
        background-color: #fff;
        border: solid 1px #ddd;
        border-radius: 4px;
    }

        ul#chat li {
            padding: 0 2px;
        }

            ul#chat li .username {
                font-weight: bold;
            }

            ul#chat li .info-message {
                color: #666;
            }

            ul#chat li .info-left {
                color: #d9534f !important;
            }

            ul#chat li .info-joined {
                color: #428bca !important;
            }

            ul#chat li .info-misc {
                color: #5cb85c;
            }


    #users .avatar {
        width: 51px;
        height: 51px;
        display: inline-block;
        float: left;
        margin: 2px;
    }

    #users .panel-body {
        overflow-y: scroll;
        height: 157px;
    }

    #avatars {
        padding: 0;
    }

    .room-title {
        margin-bottom: 10px;
        box-shadow: none;
        font-size: 16px;
        color: #777;
    }

    #player-panel #player {
        margin-top: 15px;
        width: 260px;
    }

    #player-panel #album-cover {
        max-width: 260px;
    }

    #actions .btn {
        width: 100px;
        margin-top: 5px;
    }

    #del-room-modal {
        margin-top: 90px;
    }

    table.search-result tr td {
        width: 10%;
        vertical-align: middle;
    }

        table.search-result tr td + td {
            width: 70%;
        }

            table.search-result tr td + td + td {
                width: 20%;
            }

    table.search-result {
        margin-bottom: 0;
    }

    #invite-friend-modal .modal-dialog {
        margin-top: 100px;
    }

    #add-song-modal .modal-dialog {
        margin-left: 84px;
        margin-top: 70px;
    }

    #add-song-modal .modal-content {
        width: 610px;
    }

        #add-song-modal .modal-footer {
            margin-top: 0;
        }

        #add-song-modal .scroll-area {
            height: 250px;
            overflow-y: scroll;
        }

    #add-song-modal .modal-backdrop {
        opacity: 0 !important;
    }

    img.album-cover-sm {
        width: 50px;
    }

    .input-group {
        margin-bottom: 20px;
    }

    #playlist .panel-body {
        height: 235px;
        overflow-y: scroll;
        padding: 1px;
    }

    table.tracklist td {
        vertical-align: middle !important;
    }

        table.tracklist td:first-child {
            width: 20%;
        }

span.no-songs {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}